### Sentiment Analysis on Data from NASDAQ500

In [6]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt 
import yfinance as yf
import os
plt.style.use('ggplot')

data_folder = '/Users/dev/Desktop/Machine learning/Quant/sentiment_data.csv'

sentiment_df = pd.read_csv(data_folder)

sentiment_df

,date,symbol,twitterPosts,twitterComments,twitterLikes,twitterImpressions,twitterSentiment
0,2021-11-18,AAPL,811.0,2592.0,21674.0,7981808.0,NaN
1,2021-11-18,ABT,21.0,3.0,13.0,64089.0,NaN
2,2021-11-18,AMD,150.0,675.0,2949.0,1645270.0,NaN
3,2021-11-18,AMZN,557.0,1315.0,12969.0,5590695.0,NaN
4,2021-11-18,ATVI,82.0,36.0,131.0,1310715.0,NaN
...,...,...,...,...,...,...,...
27230,2023-01-04,TMO,21.0,2.0,32.0,30857.0,0.610020
27231,2023-01-04,TSLA,6767.0,540711.0,3810688.0,55464921.0,0.543057
27232,2023-01-04,TSN,35.0,168.0,460.0,57207.0,0.561900
27233,2023-01-04,V,132.0,1008.0,5943.0,139835.0,0.567286
27234,2023-01-04,XOM,212.0,374.0,2071.0,483389.0,0.588914